body {
    font-family: Arial, sans-serif;
    margin: 0;
    color: #f0f0f0;
    background-color: #2b2b2b;
}

header {
    background-color: #1a1a1a;
    padding: 20px 0;
    text-align: center;
    color: #f0f0f0;
}

.profile-pic {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    margin-top: 20px;
}

nav {
    background-color: #333;
    padding: 10px 0;
    text-align: center;
}

nav ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

nav ul li {
    display: inline;
    margin: 0 15px;
}

nav ul li a {
    color: #f0f0f0;
    text-decoration: none;
}

nav ul li a:hover {
    color: #1e90ff;
}

.container {
    width: 80%;
    margin: auto;
    overflow: hidden;
}

section {
    padding: 60px 0;
}

h2 {
    color: #1e90ff;
    text-align: center;
    margin-bottom: 40px;
}

.project {
    background-color: #444;
    padding: 20px;
    margin: 20px 0;
    border-radius: 5px;
}

footer {
    background-color: #1a1a1a;
    text-align: center;
    padding: 10px 0;
    color: #f0f0f0;
    position: fixed;
    width: 100%;
    bottom: 0;
}

form {
    max-width: 600px;
    margin: auto;
    background-color: #444;
    padding: 20px;
    border-radius: 5px;
}

form label {
    display: block;
    margin-bottom: 10px;
}

form input, form textarea {
    width: 100%;
    padding: 10px;
    margin-bottom: 20px;
    border: none;
    border-radius: 5px;
}

form button {
    display: block;
    width: 100%;
    padding: 10px;
    background-color: #1e90ff;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

form button:hover {
    background-color: #104e8b;
}

#contact p {
    text-align: center;
    margin: 10px 0;
}

#contact a {
    color: #1e90ff;
    text-decoration: none;
}

#contact a:hover {
    text-decoration: underline;
}
